.sign-up-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: flex-start;
}

.password {
  margin-left: 3px;
}

.submit-btn {
  display: flex;
  align-self: flex-end;
}
